:root {
  --branding: #6264fa;
  --background-color: #e3ecff;
}
body {
  font-family: "Montserrat", sans-serif;
}
footer .bg {
  background: var(--background-color);
}
footer .contact-box {
  background: var(--background-color);
  padding: 40px 80px;
  border-radius: 10px;
  margin: 50px;
}
footer .container {
  background: var(--background-color);
  padding: 100px 15px;
  justify-content: space-between;
  align-items: center;
}
footer p {
  margin-bottom: 1px;
}
.footer-left a {
  font-size: 25px;
  text-decoration: none;
}
h2 {
  font-size: 26px;
  font-weight: 500;
}
p {
  font-weight: 300;
  line-height: 30px;
}
i {
  font-size: 30px;
}
img {
  border-radius: 8px;
}
nav {
  background-color: white;
  color: var(--branding);
}

.background-image {
  background: linear-gradient(
    rgba(255, 255, 255, 0.95),
    rgba(255, 255, 255, 0.95)
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.btn-branding {
  background-color: var(--branding);
  color: white;
  padding: 14px 32px;
  font-weight: 700;
  border-radius: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.btn-branding-outline {
  color: var(--branding);
  border: solid var(--branding);
  border-radius: 30px;
  padding: 10px 30px;
}
.btn-about {
  text-decoration: underline;
}
.btn-about:hover {
  color: var(--branding);
}
.bi-mouse2 {
  font-size: 500px;
  justify-content: space-around;
}
.contact-list .nav-links {
  text-decoration: none;
  list-style: none;
}
.contact-page {
  background: url(/images/background-dots.png);
  background-position: right center;
  background-repeat: no-repeat;
}
.content-container {
  margin-top: 100px;
  padding: 35px 45px;
}

.content-container img {
  width: 430px;
  margin-left: 65px;
}
.email a {
  text-decoration: none;
}
.hero {
  text-align: center;
  padding: 200px 15px;
  background-image: url(/images/background.png);
}

.text-info {
  text-align: center;
}
.sub-title {
  font-weight: 600;
  font-size: 30px;
}
.navbar {
  transition: all 0.5s ease;
}
.nar-sticky {
  background: #ffffff;
  margin-top: 0px;
  box-shadow: 0px 3px 10px 0px rgb(63 58 100 / 8%);
  padding: 0;
}
.project-description {
  padding: 8px;
  padding-top: 30px;
  margin-right: 47px;
}

.skills-section {
  padding: 40px;
  padding-top: 60px;
}
.skill-visual {
  display: flex;
  padding: 30px;
}
.skill-visual img {
  width: 50%;
  display: block;
  margin: auto;
}
@media (max-width: 700px) {
  .content {
    text-align: center;
  }
  .project-description {
    font-weight: 500px;
    text-align: center;
    font-size: 15px;
    padding: 14px;
  }
}
@media (max-width: 540px) {
  img {
    margin-bottom: 0px;
  }
  .skill-visual img {
    display: grid;
    width: 25%;
    opacity: 1.3;
  }
  .footer-right {
    margin-top: 30px;
  }
  .source-code {
    padding-top: 40px;
    text-align: center;
  }
  footer .container {
    padding-bottom: 10px;
  }
}
@media (max-width: 500px) {
  .projects .col-md-8 {
    padding-left: 80px;
    padding-right: 135px;
  }
}
