:root {
  --branding: #6264fa;
  --background-color: #e3ecff;
}
body {
  font-family: "Montserrat", sans-serif;
}
h2 {
  font-size: 26px;
  font-weight: 500;
}
p {
  font-weight: 300;
  line-height: 30px;
}
img {
  border-radius: 8px;
}
nav {
  background-color: white;
}

.about-section img {
  width: 400px;
}
.hero {
  text-align: center;
  padding: 200px 15px;
  background-image: url(/images/background.png);
}
.btn-branding {
  background-color: var(--branding);
  color: white;
  padding: 14px 32px;
  font-weight: 700;
  border-radius: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.btn-branding-outline {
  color: var(--branding);
  border: solid var(--branding);
  border-radius: 30px;
  padding: 10px 30px;
}
.btn-about {
  text-decoration: underline;
}
.btn-about:hover {
  color: var(--branding);
}
.text-info {
  text-align: center;
}
.sub-title {
  font-weight: 600;
  font-size: 30px;
}
.project-description {
  padding: 8px;
  padding-top: 30px;
}
@media (max-width: 700px) {
  .project-description {
    font-weight: 500px;
    text-align: center;
    font-size: 15px;
    padding: 14px;
  }
}
@media (max-width: 500px) {
  img {
    margin-bottom: 0px;
  }
}
